<ion-view cache-view="false" class="no-border" hide-nav-bar="true" hide-back-button="true">
    <ion-content class="ui-page landingpage auth splash-background padding" scroll="false">
        <div class="wrapper ">
          <div class="position">
            <div class="row margin-top-row">
                <div class="col">
                    <img class="logo" src="img/logo.png" alt="">
                </div>
            </div>
          </div>
            <div class="bottom-align ">
                <div class="row">
                    <div class="col margin-bottom">

                        <p>By clicking REGISTER or SIGN IN you are agreeing to the <a href="#/terms" class="uppercase assertive-color">terms and conditions</a></p>

                    </div>
                </div>
                <div class="row button-wrapper">
                    <div class="col ">
                        <a href="#/signin"><button class="button red-button-outline button-assertive red-button uppercase">sign in</button></a>
                    </div>
                    <div class="col ">
                        <a href="#/signup"><button class="button red-button uppercase">sign up</button></a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
