<ion-view cache-view="false" view-title="" hide-back-button="true" hide-nav-bar="true" >
    <ion-nav-buttons side="right">

    </ion-nav-buttons>

    <ion-content class="ui-page onboarding-page long-background" overflow-scroll="false" scroll="false">
      <button class="button button-clear button-assertive uppercase header-button absolute" ng-click="skip()">skip</button>
        <ion-slide-box on-slide-changed="slideChanged(index)" class="" >

            <ion-slide class="onboarding-back1">
                <h3 class="uppercase landing-message">welcome to citylimo</h3>
                <hr>
                <div class="bennefit">
                    <p class="benefit-refference">Enjoy our impecable driver service straight from your pocket</p>
                </div>
            </ion-slide>

            <ion-slide class="onboarding-back2">
                <h3 class="uppercase landing-message">your needs are priority</h3><hr>
                <div class="bennefit">
                    <p class="benefit-refference">Customize your order to match your expectations and leave the rest to us</p>
                </div>
            </ion-slide>

            <ion-slide class="onboarding-back3">
                <h3 class="uppercase landing-message">travel with style</h3><hr>
                <div class="bennefit">
                    <p class="benefit-refference">A successful meeting is built long before you arrive there. Let us make sure you arrive with style</p>
                </div>
                <div class="button-wrapper">
                    <button type="submit" class="button red-button" ng-click="skip()"> <span class="stable-color uppercase">get started</span> </button>
                </div>
            </ion-slide>

        </ion-slide-box>
    </ion-content>
