//DEFAULT COLORS FROM IONIC
$light:                                   #fff !default;
$stable:                                  #f8f8f8 !default;
$positive:                                #387ef5 !default;
$calm:                                    #11c1f3 !default;
$balanced:                                #33cd5f !default;
$energized:                               #ffc900 !default;
$assertive:                               #D73F2B !default;
$royal:                                   #886aea !default;
$dark:                                    #0B0B0B !default;

//ION VIEW BACKGROUND
$iv-background:                           #001e29 !default;

//DIRECT TRANSFER LABEL COLORS
$inactive-input:                          #094051 !default;
$active-input:                            #040f15 !default;
$placeholder-color:                       #3f6670 !default;
$slider-background:                       #071317 !default;
$header-color:                            #0b2731 !default;
$header-text-color:                       #3f6670 !default;
$inactive-buttons-tabs:                   #3f636e !default;

//ICON SLIDER COLOR
$slider-icon:                             #F64B34 !default;
$destination-icon:                        #43a39b !default;

//COLOR FOR RED BUTTON AND HOME ICON ON ACTION
$button-red:                              #F5533D !default;

//ERROR MESSAGE
$error-message:                           #971315 !default;

//INDEX AND LABEL BACKGROUND
$dark-blue:                               #0b0b0b !default;
$placeholder:                             #45495A !default;
$selected-label-background:               #040F15 !default;
$selected-labe-border:                    #003640 !default;
$label-background:                        #002837 !default;

//HOMESCREEN BACKGROUNDS
$homescreen-mainicon-background:           #013345 !default;
$homescreen-mainicon-background-action:    #C44230 !default;

//HOMESCREEN ICONS
$homescreen-icons-background:              #CBC7C7 !default;
$homescreen-icons-active-background:       #F5533D !default;
