.back-arrow{
    height:10px;
    width:7px;
    margin-right: 5px;
}
.benefit{
    width: 160px;
    height: 160px;
    margin-top: 60px;
}
.cancel-img{
    width:12px;
    height:12px;
    margin-right: 5px;
    text-align: center;
}
.logo-img{
    display: block;
    width:100%;
    max-width:200px;
    height: 60px;
    margin: 15% auto;
}
.homescreen-icons{
    display: inline-block;
    width:100%;
    max-width:115px;
    line-height: 117px;
    //height: 115px;
}

.ion-checkmark{
  font-size: 35px;
}
